[buildout]
parts =
    gunicorn
    supervisor
    pytest
    test
    robotframework
versions = versions
extensions = mr.developer
find-links =
 http://code.google.com/p/gevent/downloads/list?can=1

develop = 
 .
# src/gevent-socketio

[gunicorn]
recipe = zc.recipe.egg
eggs =
  ${gevent:egg}
  gunicorn
  gevent-socketio
  pyramid_sockjs
  pyramid
  pyramid_robot
  piratechat
interpreter=mypy

[gevent]
recipe = zc.recipe.egg:custom
egg=gevent >= 1.0b3
include = ${libev:location}
include-dirs = ${libev:location}/include
library-dirs = ${libev:location}/lib
rpath = ${libev:location}/lib

[libev]
recipe = zc.recipe.cmmi
url = http://dist.schmorp.de/libev/libev-4.15.tar.gz


[test]
recipe = zc.recipe.testrunner
eggs =
    piratechat [test]
defaults = ['--auto-color', '--auto-progress']


[pytest]
recipe = zc.recipe.egg
eggs = gocept.pytestlayer
       pytest
       piratechat [test]

[robotframework]
recipe = zc.recipe.egg
eggs =
  robotframework
  robotframework-selenium2library


[supervisor]
recipe=collective.recipe.supervisor
programs=
 10 gpys ${buildout:directory}/bin/gunicorn_paster [${socketioini:output} -c ${buildout:directory}/config.py]   ${buildout:directory} true

[socketioini]
recipe = collective.recipe.template
output = ${buildout:parts-directory}/ini/socketio.ini
input = inline:
    [app:main]
    use = egg:gpys#app

    pyramid.reload_templates = false
    pyramid.debug_authorization = false
    pyramid.debug_notfound = false
    pyramid.debug_routematch = false
    pyramid.debug_templates = false
    pyramid.default_locale_name = en
    #pyramid.includes = pyramid_debugtoolbar


    [server:main]
    use = egg:gunicorn#main
    host = 0.0.0.0
    port = 80
    workers = 1
    worker_class = gevent



[versions]
#collective.hostout = 1.0a5
